/*************
/   Body
/*************/

html, body {

    font-size: 16pt;
    font-family: arial;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: green;
}

section {
    background-color: gainsboro;
}

header {
    display: block;
    width: 100%;
    height: 100px;
    background-color: green;
    text-align: center;
}

h1 {
    text-shadow: 2px 2px 6px ghostwhite;
    margin: 0;
    padding: 0;
    line-height: 100px;
}

h2 {
    text-align: center;
}

footer {
    width: 100%;
    height: 50px;
    line-height: 30px;
    background-color: green;
    text-align: center;
    text-shadow: 1px 1px 4px ghostwhite;
}

/*************
/   Nav
/*************/

nav, ul {

    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: green;
}

li {
    display: block;
    float: left;
    height: 100%;
    width: 20%;
    text-align: center;
    line-height: 50px;
    text-shadow: 1px 1px 4px ghostwhite;
    background-color: yellowgreen;
}

a {
    display: block;
    color:black;
    text-decoration: none;
    background-color: green;
}

a:visited {
    color:black;
    background-color: green;
}

a:hover {
    color:black;
    background-color: yellowgreen;
}


/*************
/   Images
/*************/

.center {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width:501px) and (max-width:700px) {
    
    header, h1 {
    font-size: 18pt;
    }

    h2 {
    font-size: 14pt;
    }
}

@media screen and (min-width:0px) and (max-width:500px) {
    
    header, h1 {
    font-size: 16pt;
    }

    h2 {
    font-size: 12pt;
    }

    nav, ul {
    height: 30px;
    }

    li {
    font-size: 12pt;
    line-height: 30px;
    }
}